node_modules/*
build/*
Assignment_1_ImageProcessingAPI/node_modules/*
Assignment_1_ImageProcessingAPI/build/*
Assignment_1_ImageProcessingAPI/asset/images/output.jpg
Assignment_1_ImageProcessingAPI/asset/images/output-1.jpg
